header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h1.title {
        font-family: Vermin;
        font-size: 6em;
        margin: 0 auto;
        text-shadow: 2px 2px #45f9ff;
    }

    p {
        font-size: 1.25em;
        margin-bottom: 0.5em;
    }
}

main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    height: 75vh;
}


nav {
    width: 21%;
    display: flex;  
    flex-direction: column;
    border: 2px solid black;
    border-radius: 0px 12px 0% 12px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 1em;
    gap: 0.25em;

    a {
        text-decoration: none;
        color: black;
        padding: 0.5em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    a:hover, a:focus {
        outline: none;
        color: aqua;
        cursor: pointer;
        background-color: #00000030;
        border-radius: 0 0.5em;
    }
}

.select {
    color: aqua;
    background-color: #00000060;
    border-radius: 0    0.5em;
}

.content {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 2px solid black;
    border-radius: 0px 12px 0% 12px;
    padding: 0 36px;
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
    gap: 10px;
    overflow: scroll; 

    h1 {
        margin-top: 16px;
        text-shadow: 1px 1px 1px #fff;
        margin-bottom: 0.5em;
    }
    
    p {
        text-align: justify;
        line-height: 20px;
    }
}


form {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form input, form select {
    width: 50%;
    border-radius: 0.5em 0;
    padding-inline-start: 6px;
    height: 2.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    color: gray;
    margin-bottom: 12px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #00000030;
}

form input:focus, form select:focus {
    outline: none;
    border: 2px solid aqua;
    box-shadow: 0 0 4px 4px #00000060;
}

form label {
    margin-bottom: 4px;
    
}

.button {
    display: flex;
    width: 50%;
    height: 3em;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    border-radius: 0.5em 0;
    background-color: aqua;
    transition: 0.2s ease-out;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #00000030;
}

.button:hover, .button:focus {
    background-color: #009999;
    color: aqua;
    cursor: pointer;
    border: 2px solid aqua;
    outline: none;
    box-shadow: 0 0 4px black;
}


#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

#gallery a {
    width: 25%;
}

.cityimgs {
    width: 100%; 
    border-radius: 0px 12px 0px 12px;
}

.card-staff{
    background-color: #ffffff30;
    width: 190px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 16px;
    padding: 8px;
    box-shadow: 3px 3px 7px #00000030;
}

.card-staff:not([class="card-staff membro"])::before{
    content: "";
    position: absolute;
    z-index: -1;
    height: 100px;
    top: -5px;
    left: -5px;
    width: calc( 100% + 10px);
    height: calc( 100% + 10px );
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    border-radius: 18.5px;
} 

.card-staff:not([class="card-staff membro"]){
    position: relative;
    background-color: #e7e7e7;
}

.card-staff:not([class="card-staff membro"]) em{
    color: #5d4a1f;
    text-shadow: 1px 1px 1px #dbdbdb;
}

hr{
    margin-top: 8px;
    border: 1px solid #00000090;
}

@media (max-width:840px){
    body{
        height: 100vh;
    }

    header {
        h1.title{
            font-size: 4em;
        }

        p{
            height: auto;
            text-align: center;
        }
    }

    main{
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: initial;
        padding-bottom: 1em;
    }
    nav{
        width: 100%;
        gap: 0.5em;
        font-size: medium;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #app{
        width: 100%;
        gap: 0px;
    }

    form{
        padding-top: 8px;
        gap: 8px;
    }

    .button {
        width: 75%;
    }

    form input, form select{
        width: 80%;
    }

    .content{
        padding: 0px 16px 16px 16px;

        p{
            text-align: left;
        }
    }


    #gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-bottom: 30px;

        a {
            width: 90%;
        }
    }


    .cityimgs {
        width: 100%;
 
    }
}

#loading {
    display: block;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #333;
}

.loading-dot {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem vertical */
    height: 0px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-track {
    background: #00000000; /* Cor do fundo da trilha */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #0ea1a180; /* Cor do polegar */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
    background: #07c0c0; /* Cor do polegar ao clicar */
}